 {% extends "layout.html" %}
{% block style %}
<style>
    .scroll4::-webkit-scrollbar {
        width: 10px;
    }
    
    .scroll4::-webkit-scrollbar-thumb {
        background: rgb(190, 189, 189);
        border-radius: 20px;
    }

    .scroll4::-webkit-scrollbar-track {
        background: rgb(48, 47, 47);
        border-radius: 5px;
    }

</style>
{% endblock %}
{% block content %}

<div class="container" >
    {% if camera_name %}
    <h2 style="color: steelblue">{{title}} {{camera_name}}</h2>
    {% else %}
    <h2 style="color: steelblue">{{title}} in {{group_name}}</h2>
    {% endif %}
    <div class="scroll4" style="overflow-y: auto; height: 80vh;">
    <form class="col s12" method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="input-field col s12">
                {{ form.name.label(class="form-control-label", style="color: white") }}
                {% if form.name.errors %}
                    {{form.name(class="validate  invalid",style="color: white") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span class="red-text">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="validate",style="color: white") }}
                {% endif %}
            </div>
            <div class="input-field col s12">
                {{ form.description.label(class="form-control-label", style="color: white") }}
                {% if form.description.errors %}
                    {{form.description(class="validate  invalid",style="color: white") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span class="red-text">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="validate",style="color: white") }}
                {% endif %}
            </div>
            <div class="input-field col s12">
                {{ form.uri.label(class="form-control-label", style="color: white") }}
                {% if form.uri.errors %}
                    {{form.uri(class="validate  invalid",style="color: white") }}
                    <div class="invalid-feedback">
                        {% for error in form.uri.errors %}
                            <span class="red-text">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.uri(class="validate",style="color: white") }}
                {% endif %}
            </div>
            <div class="input-field col s12" style="color: white">
                Update Frame
                {% for subfield in form.refresh %}
                    <p>
                        <label>
                            {{ subfield }}
                            <span>{{ subfield.label }}</span>
                        </label>
                    </p>
                {% endfor %}
                    
                </div>
            <div class="row">
                {{ form.submit(class="btn light-blue lighten-1", style="width: 100px") }}
                <a href="{{back}}" class="btn light-blue lighten-1">cancle</a>
            </div>
        </div>
        
    </form>
    </div>
</div>

{% endblock %}