{% extends "layout.html" %}
{% block style %}
<style>
    body{
        scrollbar-face-color: #b46868;
        scroll-behavior: smooth;
    }
</style>
{% endblock %}
{% block content %}

    {% if user.permission == 'admin' %}
        <div class="container">
            <div class="row center" style="margin-top:10%">
                <div class="col m2 white" style="border-radius:10px; margin: 5px; ">
                    <a href="{{url_for('admin_cameras_detail',next=request.path)}}"><span><img src="https://cdn0.iconfinder.com/data/icons/thin-security/57/thin-441_webcam_camera_ip_security_surveillance-512.png" 
                                  width="175px" height="175px"></span>
                        <p style="font-size:20px; color:black" class="center">ข้อมูลกล้อง</p>
                    </a>
                </div>
                <div class="col m2 white" style="border-radius:10px; margin: 5px;">
                    <a href="{{url_for('admin_users_detail',next=request.path)}}"><span><i class="material-icons black-text" style="font-size: 18vh">account_box</i></span>
                        <p style="font-size:20px; color:black" class="center">ข้อมูลผู้ใช้</p>
                    </a>
                </div>
                <div class="col m2 white" style="border-radius:10px; margin: 5px;">
                    <a href="{{url_for('admin_processors_detail',next=request.path)}}"><span><i class="material-icons black-text" style="font-size: 18vh">fiber_smart_record</i></span>
                        <p style="font-size:20px; color:black" class="center">ข้อมูลเครื่องบันทึก</p>
                    </a>
                </div>
            </div>
        </div>>
    {% else %}
        <h5>You are not Admin!</h5>
    {% endif %}
{% endblock %}
{% block script %}
    <script>
            function myFunction() {
                var input, filter, table, tr, td, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByClassName("myli");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[3];
                    txt = a.innerHTML
                    if (txt.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    } else {
                        li[i].style.display = "none";
                    }
                }
            }
    </script>
{% endblock %}