{% extends "cameras.html" %}
{% block style_camera %}
    <style>
        .camera_name{
            opacity: 0;
        }
        .camera_name:hover{
            opacity: 1;
        }
    </style>
{% endblock %}
{% block menuhead %}
<div class="center">
    <div class="row">
        <div class="col m4">
            <a class="waves-effect waves-light modal-trigger" href="{{'#modald'+group.group_name}}"><i class="material-icons">delete   </i></a>
            <a class="waves-effect waves-light modal-trigger " href="{{url_for('edit_group',group_id=group.id, group_name=group.group_name, next=request.path)}}"><i class="material-icons">edit</i></a>
            {{group.group_name}}
        </div>
        <div class="col m2">
                <a href="{{'/cameras/'+group.id+'/1x1'}}" class="btn">1x1</a>
            </div>
        <div class="col m2">
            <a href="{{'/cameras/'+group.id+'/2x2'}}" class="btn">2x2</a>
        </div>
        <div class="col m2">
            <a href="{{'/cameras/'+group.id+'/3x3'}}" class="btn">3x3</a>
        </div>
        <div class="col m2">
            <a href="{{'/cameras/'+group.id+'/4x4'}}" class="btn">4x4</a>
        </div>
    </div>
    
</div>
{% endblock %}
{% block cameras %}
<div style="padding-left: 2vw">
    <div style="overflow-y: scroll; height:94vh; width: 100%" class="scroll4" >
        <div class="row" style="width: 100%" >
           
                {% for g in groups %}
                    {% if g.group_name == group.group_name %}   
                        
                            {% for cameras in g['cameras_'+display] %}
                            <div class="col m12" id={{ loop.index0 }}>
                                <div class="row">
                                    {% for c in cameras %}
                                    {% if display == '3x3' %}
                                    <div class="col m4 uk-inline center" style="padding: 1px 1px 0px 0px;height:  30vh; overflow: hidden" onload="updateImage();">
                                        <!-- <video class="responsive-video" controls width="1440px" height="1080px" autoplay loop>
                                            <source src="https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
                                        </video> -->
                                        {% if c.refresh == 'yes' %}
                                            <img class="ip_cam" src="{{c.uri}}" width="100%" height="100%" />
                                        {% else %}
                                            <img src="{{c.uri}}" width="100%" height="100%" />
                                        {% endif %}
                                        <div class="uk-overlay uk-light uk-position-top camera_name">
                                            <p>
                                            <a class="waves-effect waves-light modal-trigger right" href="{{url_for('edit_camera',camera_id=c.id,group_name=c.group_name,next=request.path)}}"><i class="material-icons">edit</i></a>
                                            <a class="waves-effect waves-light modal-trigger left" href="{{'#sharemodal'+c.name}}"><i class="material-icons">share</i></a>
                                                <div id="{{'sharemodal'+c.name}}" class="modal" >
                                                    <form method="post" name="share_form" action="{{url_for('camera',group_id=group_id,display=display, camera_id=c.id,next=request.path)}}" >
                                                    <div class="modal-content" style="color: black">
                                                        
                                                        <div>
                                                            now share with :
                                                            {% if c.shared != [] %} 
                                                                {% for sh in c.shared %}
                                                                    <div class="btn">{{sh}}<a class="waves-effect waves-light" href="{{url_for('delete_shared',camera_id=c.id,shared=sh,next=request.path)}}"><i class="material-icons">delete</i></a></div>
                                                                {% endfor %}
                                                            {% else %}
                                                                <a class="btn">None</a>
                                                            {% endif %}
                                                            <p>Select Permission you want to shared</p>
                                                            <div>{{ share_form.permission_list(multiple=True,style="color: black") }}</div>
                                                        </div>
                                                        <p>Enter email you want to shared with</p>
                                                        {% if share_form.email.errors %}
                                                            {{share_form.email(class="validate  invalid",style="color: black") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in share_form.email.errors %}
                                                                    <span class="red-text">{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ share_form.email(class="validate",style="color: black") }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="modal-footer" style="color: black">
                                                        {{ share_form.submit(class="waves-effect waves-green btn") }}
                                                        <a style="color: black" href="#" class="modal-close waves-effect waves-green btn-flat">ปิด</a>
                                                    </div>
                                                    </form>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="uk-overlay uk-light uk-position-bottom camera_name">
                                            <p class="center" style="font-size: 20px;"><a href="#">{{c.name}}</a><a class="waves-effect waves-light modal-trigger right" href="{{'#modal'+c.name}}"><i class="material-icons">delete</i></a></p>
                                            <div id="{{'modal'+c.name}}" class="modal" >
                                                <div class="modal-content" style="color: black">
                                                  <h4 style="color: black">ลบกล้อง</h4>
                                                  <p>คุณต้องการลบ {{c.name}} ใน {{group.group_name}} ใช่หรือไม่</p>
                                                </div>
                                                <div class="modal-footer" style="color: black">
                                                    <a style="color: black" href="{{url_for('delete_camera',camera_id=c.id, camera_name=c.name, next=request.path)}}" class="waves-effect waves-green btn-flat">ยืนยัน</a>
                                                    <a style="color: black" href="#!" class="modal-close waves-effect waves-green btn-flat">ปิด</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% elif display == '2x2' %}
                                    <div class="col m6 uk-inline center" style="padding: 1px 1px 0px 0px;height:  45vh; overflow: hidden" onload="updateImage();">
                                        <!-- <video class="responsive-video" controls width="1440px" height="1080px" autoplay loop>
                                            <source src="https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
                                        </video> -->
                                        {% if c.refresh == 'yes' %}
                                            <img class="ip_cam" src="{{c.uri}}" width="100%" height="100%" />
                                        {% else %}
                                            <img src="{{c.uri}}" width="100%" height="100%" />
                                        {% endif %}
                                        <div class="uk-overlay uk-light uk-position-top camera_name">
                                            <p>
                                            <a class="waves-effect waves-light modal-trigger right" href="{{url_for('edit_camera',camera_id=c.id,group_name=c.group_name,next=request.path)}}"><i class="material-icons">edit</i></a>
                                            <a class="waves-effect waves-light modal-trigger left" href="{{'#sharemodal'+c.name}}"><i class="material-icons">share</i></a>
                                                <div id="{{'sharemodal'+c.name}}" class="modal" >
                                                    <form method="post" name="share_form" action="{{url_for('camera',group_id=group_id,display=display, camera_id=c.id,next=request.path)}}" >
                                                    <div class="modal-content" style="color: black">
                                                        
                                                        <div>
                                                            now share with :
                                                            {% if c.shared != [] %} 
                                                                {% for sh in c.shared %}
                                                                    <div class="btn">{{sh}}<a class="waves-effect waves-light" href="{{url_for('delete_shared',camera_id=c.id,shared=sh,next=request.path)}}"><i class="material-icons">delete</i></a></div>
                                                                {% endfor %}
                                                            {% else %}
                                                                <a class="btn">None</a>
                                                            {% endif %}
                                                            <p>Select Permission you want to shared</p>
                                                            <div>{{ share_form.permission_list(multiple=True,style="color: black") }}</div>
                                                        </div>
                                                        <p>Enter email you want to shared with</p>
                                                        {% if share_form.email.errors %}
                                                            {{share_form.email(class="validate  invalid",style="color: black") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in share_form.email.errors %}
                                                                    <span class="red-text">{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ share_form.email(class="validate",style="color: black") }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="modal-footer" style="color: black">
                                                        {{ share_form.submit(class="waves-effect waves-green btn") }}
                                                        <a style="color: black" href="#" class="modal-close waves-effect waves-green btn-flat">ปิด</a>
                                                    </div>
                                                    </form>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="uk-overlay uk-light uk-position-bottom camera_name">
                                            <p class="center" style="font-size: 20px;"><a href="#">{{c.name}}</a><a class="waves-effect waves-light modal-trigger right" href="{{'#modal'+c.name}}"><i class="material-icons">delete</i></a></p>
                                            <div id="{{'modal'+c.name}}" class="modal" >
                                                <div class="modal-content" style="color: black">
                                                  <h4 style="color: black">ลบกล้อง</h4>
                                                  <p>คุณต้องการลบ {{c.name}} ใน {{group.group_name}} ใช่หรือไม่</p>
                                                </div>
                                                <div class="modal-footer" style="color: black">
                                                    <a style="color: black" href="{{url_for('delete_camera',camera_id=c.id, camera_name=c.name, next=request.path)}}" class="waves-effect waves-green btn-flat">ยืนยัน</a>
                                                    <a style="color: black" href="#!" class="modal-close waves-effect waves-green btn-flat">ปิด</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% elif display == '4x4' %}
                                    <div class="col m3 uk-inline center" style="padding: 1px 1px 0px 0px;height:  22.5vh; overflow: hidden" onload="updateImage();">
                                        <!-- <video class="responsive-video" controls width="1440px" height="1080px" autoplay loop>
                                            <source src="https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
                                        </video> -->
                                        {% if c.refresh == 'yes' %}
                                            <img class="ip_cam" src="{{c.uri}}" width="100%" height="100%" />
                                        {% else %}
                                            <img src="{{c.uri}}" width="100%" height="100%" />
                                        {% endif %}
                                        <div class="uk-overlay uk-light uk-position-top camera_name">
                                            <p>
                                            <a class="waves-effect waves-light modal-trigger right" href="{{url_for('edit_camera',camera_id=c.id,group_name=c.group_name,next=request.path)}}"><i class="material-icons">edit</i></a>
                                            <a class="waves-effect waves-light modal-trigger left" href="{{'#sharemodal'+c.name}}"><i class="material-icons">share</i></a>
                                                <div id="{{'sharemodal'+c.name}}" class="modal" >
                                                    <form method="post" name="share_form" action="{{url_for('camera',group_id=group_id,display=display, camera_id=c.id,next=request.path)}}" >
                                                    <div class="modal-content" style="color: black">
                                                        
                                                        <div>
                                                            now share with :
                                                            {% if c.shared != [] %} 
                                                                {% for sh in c.shared %}
                                                                    <div class="btn">{{sh}}<a class="waves-effect waves-light" href="{{url_for('delete_shared',camera_id=c.id,shared=sh,next=request.path)}}"><i class="material-icons">delete</i></a></div>
                                                                {% endfor %}
                                                            {% else %}
                                                                <a class="btn">None</a>
                                                            {% endif %}
                                                            <p>Select Permission you want to shared</p>
                                                            <div>{{ share_form.permission_list(multiple=True,style="color: black") }}</div>
                                                        </div>
                                                        <p>Enter email you want to shared with</p>
                                                        {% if share_form.email.errors %}
                                                            {{share_form.email(class="validate  invalid",style="color: black") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in share_form.email.errors %}
                                                                    <span class="red-text">{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ share_form.email(class="validate",style="color: black") }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="modal-footer" style="color: black">
                                                        {{ share_form.submit(class="waves-effect waves-green btn") }}
                                                        <a style="color: black" href="#" class="modal-close waves-effect waves-green btn-flat">ปิด</a>
                                                    </div>
                                                    </form>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="uk-overlay uk-light uk-position-bottom camera_name">
                                            <p class="center" style="font-size: 20px;"><a href="#">{{c.name}}</a><a class="waves-effect waves-light modal-trigger right" href="{{'#modal'+c.name}}"><i class="material-icons">delete</i></a></p>
                                            <div id="{{'modal'+c.name}}" class="modal" >
                                                <div class="modal-content" style="color: black">
                                                  <h4 style="color: black">ลบกล้อง</h4>
                                                  <p>คุณต้องการลบ {{c.name}} ใน {{group.group_name}} ใช่หรือไม่</p>
                                                </div>
                                                <div class="modal-footer" style="color: black">
                                                    <a style="color: black" href="{{url_for('delete_camera',camera_id=c.id, camera_name=c.name, next=request.path)}}" class="waves-effect waves-green btn-flat">ยืนยัน</a>
                                                    <a style="color: black" href="#!" class="modal-close waves-effect waves-green btn-flat">ปิด</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% elif display == '1x1' %}
                                    <div class="col m12 uk-inline center" style="padding: 1px 1px 0px 0px;height:  90vh; overflow: hidden" onload="updateImage();">
                                        <!-- <video class="responsive-video" controls width="1440px" height="1080px" autoplay loop>
                                            <source src="https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4">
                                        </video> -->
                                        {% if c.refresh == 'yes' %}
                                            <img class="ip_cam" src="{{c.uri}}" width="100%" height="100%" />
                                        {% else %}
                                            <img src="{{c.uri}}" width="100%" height="100%" />
                                        {% endif %}
                                        <div class="uk-overlay uk-light uk-position-top camera_name">
                                            <p>
                                            <a class="waves-effect waves-light modal-trigger right" href="{{url_for('edit_camera',camera_id=c.id,group_name=c.group_name,next=request.path)}}"><i class="material-icons">edit</i></a>
                                            <a class="waves-effect waves-light modal-trigger left" href="{{'#sharemodal'+c.name}}"><i class="material-icons">share</i></a>
                                                <div id="{{'sharemodal'+c.name}}" class="modal" >
                                                    <form method="post" name="share_form" action="{{url_for('camera',group_id=group_id,display=display, camera_id=c.id,next=request.path)}}" >
                                                    <div class="modal-content" style="color: black">
                                                        
                                                        <div>
                                                            now share with :
                                                            {% if c.shared != [] %} 
                                                                {% for sh in c.shared %}
                                                                    <div class="btn">{{sh}}<a class="waves-effect waves-light" href="{{url_for('delete_shared',camera_id=c.id,shared=sh,next=request.path)}}"><i class="material-icons">delete</i></a></div>
                                                                {% endfor %}
                                                            {% else %}
                                                                <a class="btn">None</a>
                                                            {% endif %}
                                                            <p>Select Permission you want to shared</p>
                                                            <div>{{ share_form.permission_list(multiple=True,style="color: black") }}</div>
                                                        </div>
                                                        <p>Enter email you want to shared with</p>
                                                        {% if share_form.email.errors %}
                                                            {{share_form.email(class="validate  invalid",style="color: black") }}
                                                            <div class="invalid-feedback">
                                                                {% for error in share_form.email.errors %}
                                                                    <span class="red-text">{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                        {% else %}
                                                            {{ share_form.email(class="validate",style="color: black") }}
                                                        {% endif %}
                                                    </div>
                                                    <div class="modal-footer" style="color: black">
                                                        {{ share_form.submit(class="waves-effect waves-green btn") }}
                                                        <a style="color: black" href="#" class="modal-close waves-effect waves-green btn-flat">ปิด</a>
                                                    </div>
                                                    </form>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="uk-overlay uk-light uk-position-bottom camera_name">
                                            <p class="center" style="font-size: 20px;"><a href="#">{{c.name}}</a><a class="waves-effect waves-light modal-trigger right" href="{{'#modal'+c.name}}"><i class="material-icons">delete</i></a></p>
                                            <div id="{{'modal'+c.name}}" class="modal" >
                                                <div class="modal-content" style="color: black">
                                                  <h4 style="color: black">ลบกล้อง</h4>
                                                  <p>คุณต้องการลบ {{c.name}} ใน {{group.group_name}} ใช่หรือไม่</p>
                                                </div>
                                                <div class="modal-footer" style="color: black">
                                                    <a style="color: black" href="{{url_for('delete_camera',camera_id=c.id, camera_name=c.name, next=request.path)}}" class="waves-effect waves-green btn-flat">ยืนยัน</a>
                                                    <a style="color: black" href="#!" class="modal-close waves-effect waves-green btn-flat">ปิด</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                            <div class="col bottom">
                                <ul class="tabs blue-grey darken-3">
                                    {% for i in range(0,g['display_'+display]) %}
                                    <li class="tab col"><a href="#{{i}}">{{i+1}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                    {% endif %}
                {% endfor %}
        </div>
        
</div>
<div id="{{'modald'+group.group_name}}" class="modal" >
    <div class="modal-content" style="color: black">
        <h4>กล้องทุกตัวใน {{group.group_name}} จะหายทั้งหมด</h4>
        <h4>คุณต้องการลบ {{group.group_name}} ใช่หรือไม่</h4>
    </div>
    <div class="modal-footer" style="color: black">
        <a style="color: black" href="{{url_for('delete_group',group_id=group.id, group_name=group.group_name, next=request.path)}}" class="waves-effect waves-green btn-flat">ยืนยัน</a>
        <a style="color: black" href="#" class="modal-close waves-effect waves-green btn-flat">ปิด</a>
    </div>
</div>
{% endblock %}
{% block script2 %}
<script>
    function refresh(node)
    {
    var times = 1000; // gap in Milli Seconds;

    (function startRefresh()
    {
        var address;
        address = node.src.split('COUNTER')[0];
        if(node.src.includes('?time'))
            address = node.src.split('?time')[0];
        node.src = address+"?time="+new Date().getTime();

        setTimeout(startRefresh,times);
    })();
    } 

    window.onload = function()
    {
        var node = document.getElementsByClassName('ip_cam');
        console.log(node)
        var times = 200;
        (function doRefresh(){
            for (const n in node) {
                refresh(node[n])
            }
            setTimeout(doRefresh,times);
        })();
    }
</script>
{% endblock %}